# SPDX-FileCopyrightText: 2021 Eduardo Robles <edulix@nvotes.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~

#other files and folders
log
src/x64
src/w64
linux/
gmock/
Debug/
.directory

#nix things
result


# CMake files
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
CMakeFiles
out/
.ninja_deps
.ninja_log
build.ninja
CPM_modules

# testing
CTestTestfile.cmake
DartConfiguration.tcl
_deps
Testing/
tests/agora_*.cmake
